
<br>



<table class="table">
  
  <tbody  *ngFor="let vehicle of vehicles">
       
      <tr> 
          <th>Marka</th>
          <td>{{vehicle.brandName}}</td>
      </tr>

      <tr> 
          <th>Model</th>
          <td>{{vehicle.vehicleName}}</td>
      </tr>

      <tr>
          <th>Renk</th>
          <td>{{vehicle.color}}</td>
      </tr>

      <tr>
          <th>Model Yılı</th>
          <td>{{vehicle.model}}</td>
      </tr>

      <tr>
          <th>Günlük Kiralama Ücreti</th>
          <td>{{vehicle.dailyPrice}} TL</td>
      </tr>

      <tr>
          <th>Açıklama</th>
          <td>{{vehicle.description}}</td>
      </tr>
      <tr><div class="form-group d-flex justify-content-center mx-5"><button class="form-control btn btn-primary" (click)="addToRent(vehicle)">Kirala</button> </div></tr>

     <img *ngFor="let image of vehicle.images" src="https://localhost:44308/{{image.imagePath}}" height="100" width="150" alt="">
      
  </tbody>

    

   
</table>


 