<div class="container">
  <app-navi></app-navi>
  <div class="row">
      <div class="col-md-3">
          <br>
          <h4 style="background-color:#4c698c; color: white; text-align: center;">Markalar</h4>
          <app-brand></app-brand>
          <br>
          <h4 style="background-color:#4c698c; color: white; text-align: center;">Renkler</h4>
          <app-color></app-color>
      </div>
      <div class="col-md-9">
          <br>
          <router-outlet></router-outlet>
         <div><app-vehicle-detail> </app-vehicle-detail></div>
         <div><app-image></app-image></div>
           
        
       
       
      </div>
      
</div>
<br><br>
</div>

