<div class="mb-3">
  <label for="filterText" class="form-label">Araç ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="ara">
</div>
<div *ngIf="filterText" class="alert alert-primary">
{{filterText}}
</div>
<div class="text-center ">Araç Listesi</div>
<table class="table caption-top ">
  
   <thead>
      <tr>
        <th scope="col">Araç No</th>
        <th scope="col">Marka</th>
        <th scope="col">Model</th>
        <th scope="col">Renk</th>
        <th scope="col">Fiyat</th>
      </tr>
  
   </thead>
   <tbody>
       <tr *ngFor="let vehicle of vehicles | filterPipe:filterText">
        <td>{{vehicle.id}}</td>
        <td>{{vehicle.brandName}}</td>    
        <td>{{vehicle.vehicleName |uppercase}} </td>
        <td>{{vehicle.color}}</td>    
        <td>{{vehicle.dailyPrice}} TL</td>
        <td><a class="btn btn-primary" href="vehicles/vehicledetails/{{vehicle.id}}">Detaylar</a></td>
        
         
       </tr>
   </tbody>
   
</table>